@import '_variables.scss';
@import '_fonts.scss';


.container {
	width: 77%;
	margin: 0 auto;
}

body {
	margin: 0;
	position: relative;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

h3 {
	margin: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--text-color-main);
}

.button {
	padding: 15px 42px;
	border-radius: 100px;
	border: none;
	font-family: "Inter", sans-serif;
	font-weight: 100;
	font-size: 18px;
	color: var(--text-color-reverse);
	background-color: rgb(var(--button-color));

	&__reverse {
		color: rgb(var(--button-color));
		background-color: var(--text-color-reverse);
		box-shadow: 10px 5px 40px var(--shadow-color);

	}
}

.shadow {
	box-shadow: 10px 5px 40px var(--shadow-color);
}

.line {
	margin: 0 auto;
	margin-top: 100px;
	width: 100%;
	border-bottom: 1px solid #000;
	opacity: 0.3;
}

.icon-bask:before {
	content: "\e903";
}

.icon-fb:before {
	content: "\e900";
}

.icon-be:before {
	content: "\e902";
}

@import '_header.scss';
@import '_title.scss';
@import '_clients.scss';
@import '_about.scss';
@import '_testimonials';
@import '_footer.scss';
@import '_media.scss'